<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p3175">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P3175">
        <activity android:name=".CreateRecurringTransactionActivity"></activity>
        <activity android:name=".ManageCategoryActivity" />
        <activity android:name=".CreateBigExpenseActivity" />
        <activity android:name=".CreateTransactionActivity" />
        <activity android:name=".CreateUserActivity" />
        <activity android:name=".CreateCategoryActivity" />
        <activity android:name=".DbDemoActivity" />
        <activity android:name=".RecurringTransactionActivity" />
        <activity android:name=".InitializeMoneyActivity" />
        <activity android:name=".ChooseTransactionCategoryActivity" />
        <activity android:name=".FirstTimeLoginActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".EditBigExpenseActivity" />
        <activity android:name=".EditRecurringTransactionActivity" />
        <activity android:name=".EditTransactionActivity" />
        <activity android:name=".EditCategoryActivity" />
        <activity android:name=".EditUserActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManageUserActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>