<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p3175">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P3175">
        <activity android:name=".activity.bigexpense.GetBigExpensePlanActivity"></activity>
        <activity android:name=".activity.recurringtransaction.CreateRecurringTransactionActivity" />
        <activity android:name=".activity.category.ManageCategoryActivity" />
        <activity android:name=".activity.bigexpense.CreateBigExpenseActivity" />
        <activity android:name=".activity.transaction.CreateTransactionActivity" />
        <activity android:name=".activity.user.CreateUserActivity" />
        <activity android:name=".activity.category.CreateCategoryActivity" />
        <activity android:name=".activity.recurringtransaction.ManageRecurringTransactionActivity" />
        <activity android:name=".activity.user.InitializeMoneyActivity" />
        <activity android:name=".activity.category.ChooseTransactionCategoryActivity" />
        <activity android:name=".activity.user.FirstTimeLoginActivity" />
        <activity android:name=".activity.report.ReportActivity" />
        <activity android:name=".activity.bigexpense.EditBigExpenseActivity" />
        <activity android:name=".activity.recurringtransaction.EditRecurringTransactionActivity" />
        <activity android:name=".activity.transaction.EditTransactionActivity" />
        <activity android:name=".activity.category.EditCategoryActivity" />
        <activity android:name=".activity.user.EditUserActivity" />
        <activity android:name=".activity.base.BaseActivity" />
        <activity android:name=".activity.user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.user.ManageUserActivity" />
        <activity android:name=".activity.main.MainActivity" />
    </application>

</manifest>